@tailwind base;
@tailwind components;
@tailwind utilities;


*,body{
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.hero{
    /* background: url('https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center/cover no-repeat; */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center/cover no-repeat;
     
}